<mat-card>
 
    <mat-card-title>{{ director.Name }}</mat-card-title>
    


<mat-dialog-content>
      <div><span >Bio</span>: {{ director.Bio }}</div>
        <div><span>Born</span>: {{ director.Birth }}</div>
        <div><span>Died</span>: {{ director.Death }}</div>

    </mat-dialog-content>
    <mat-card-actions>
      <button
        class="director-close-button"
        mat-stroked-button
        aria-label="Close the genre details button"
        mat-dialog-close
        color="primary"
      >
        Close
      </button>
    </mat-card-actions>
  </mat-card>
  