mat-card {
    margin-top: 12rem;
    align-items: center;
    width: 15rem;
    margin-right: 0.5rem;
    color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #000000;
    width: max-content
    
}


img {
    width: 15rem;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

mat-card:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

html {
    background-color: #000000;
}

mat-expansion-panel {
    position:absolute;
    background-color: #000000;
    color: #ffffff;
    

}

mat-panel-title{
    color: #ffffff;
    font-size: smaller;
    justify-content: center;
    height: 25px;

}

mat-panel-description{
    color: #ffffff;
    font-size: smaller;
}

mat-expansion-panel-header{
  height : max-content;
}