<div style="display: flex;">

    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        
        
        <img src={{movie.ImagePath}} alt={{movie.Title}}/>
       


        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{movie.Title}}
                </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p> {{movie.Title}} {{movie.Description}}</p>
        </mat-expansion-panel>

        <mat-card-actions>
            <button mat-button color="primary" (click)="openDirectorDialog(movie.Director)">
                Director
            </button>
            <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">

                Genre
            </button>
            <button *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)">
            <mat-icon >favorite_border</mat-icon>
            </button>
            <button *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)">
                <mat-icon >favorite</mat-icon>
                </button>
                <button class="trailer" (click)="openTrailerDialog(movie.Trailerpath)" mat-button color="white">  
                    <mat-icon>play_circle_outline</mat-icon>
                </button>
            
        </mat-card-actions>
    </mat-card>
</div>