mat-card {
margin-top: 25%;
height: 40%
}





mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;

}

.fill-remaining-space{
    flex: 1 1 auto;
}